body,
html {
    height: 100%;
    background-color: #c1d726;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show-inline {
    display: inline-block;
}

.timer-color {
    background-color: #48b2f8;
}

input {
    text-align: center;
    /* border-radius: 10px; */
    /* height: 50px; */
    width: 50%!important;
    /* font-size: large; */
}


/* 
#logo-burger {
    display: inline;
} */

.navbar-burger {
    color: #c1d726!important;
}

#logo {
    max-height: 75px;
    /* justify-items: center; */
}

@media screen and (max-width: 768px) {
    #logo {
        max-height: 50px;
    }
}